
body {
background-color: #F9F9F9;
}

h1 {
color: red;
}

h3 {
color: orange;
text-align: center;
}

p {
font-family: "Times New Roman";
font-size: 20px;
}

.dropdown {
position: relative;
display: inline-block;
width: 150px;
height: 30px;
border-radius: 5px;
font-family: sans-serif;
  
}

.button {
background-color: #87CEEB;
border: none;
color: black;
padding: 16px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
border-radius: 5px;
font-family: sans-serif;
}

.table1 {
padding: 0.5em;
border-collapse: collapse;
background-color: #909090;
background: -webkit-gradient(linear, left top, left bottom, from(#909090),
to(#ababab));
background: -moz-linear-gradient(top, #909090, #ababab);
color: #efefef;
}

.pagination_button{
	 border: none;
    background: no-repeat;
    text-decoration: underline;
    color: blue;
    font-size: 20px;
}

.pagination_buttons{
background: #d8b2a9;
    font-family: sans-serif;
    font-style: italic;
}
.pagination {
display: inline-block;
border: none
}

.pagination a {
color: orange;
float: left;
padding: 8px 8px;
text-decoration: none;
transition: background-color #FF7F50;
}

.pagination a.active {
background-color: #FF7F50;
color: white;
border: 1px solid #4CAF50;
}
.pagination
 
a
:hover
:not
 
(
.active
 
)
{
background-color
:
 
#ddd
;


}
</
style
>
</
head
>
<
body
>
